In [ ]:
#Python containers, they allow us to hold data in multiple items eg, name of students in a class
#list
#Tubles
#Dictionary
#Sets
#conditional Statements
For loop

In [ ]:
myName='Tope' #its a variable, its holds reference to one item
myName='Tope', 'Bisi', 'Donald' #a tuple

In [ ]:
'''James is a teacher in a school and has 10 students in his maths class.
use the following information about his class to construct a python container:/
    
"Jerry"
'Agatha'
'Adama'
'Yunus'
'Samuel'
'Hammed'
'Peace'
'Eric'
'Lois'
'Lola'
"seun"
Math scores: 75, 67, 96, 54, 76, 95, 87, 100, 70, 85
Grades:A, B, C, D, E, F

'''

In [5]:
List1 = [] #emptylist

In [6]:
type(List1)

list

In [7]:
print(List1)

[]

In [ ]:
#syntax for populating a list
#nameOfList = [item1, item2, item3,......item_n]
studentName= ['Jerry', 'Agatha', 'Adama', 'Yunus', 'Samuel', 'Hammed', 'Peace', 'Eric', 'Lois', 'Lola', 'seun']

In [9]:
#List of students in maths class
studentList= ['Jerry', 'Agatha', 'Adama', 'Yunus', 'Samuel', 'Hammed', 'Peace', 'Eric', 'Lois', 'Lola']
print(studentList)

['Jerry', 'Agatha', 'Adama', 'Yunus', 'Samuel', 'Hammed', 'Peace', 'Eric', 'Lois', 'Lola']

In [10]:
mathScores=[75, 67, 96, 54, 76, 95, 87, 100, 70, 85]#Mathscore of the student

In [ ]:
#Exam Grades
examGrades=['A', 'B', 'C', 'D', 'E', 'F']

In [12]:
studentList= ['Jerry', 'Agatha', 'Adama', 'Yunus', 'Samuel', 'Hammed', 'Peace', 'Eric', 'Lois', 'Lola']
mathScores=[75, 67, 96, 54, 76, 95, 87, 100, 70, 85]
examGrades=['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
#Creating a List of Lists
#This List holds all the information about student in the maths class
mathClassRes= [studentList,mathScores,examGrades] #nested list or list of list
print(mathClassRes)

In [ ]:
#lists are iterable
#each item on the list is assigned an index possition that identifies its location in the list
#we need this idex position to fetch an item in a list or to remove or replace d item
#idex position start from zero

In [14]:
#we can get length of a list by using len()
numStudents = len(studentList) #count the number of student in a list 
print(numStudents)

10

In [15]:
#checking item in index position 7
studentList[7]

'Eric'

In [18]:
#checing from item in the list
studentList[-3]

'Eric'

In [19]:
studentList[7:10]

['Eric', 'Lois', 'Lola']

In [20]:
studentList[2:5]

['Adama', 'Yunus', 'Samuel']

In [23]:
#lets fetch all the student list
studentList[0:6]

['Jerry', 'Agatha', 'Adama', 'Yunus', 'Samuel', 'Hammed']

In [33]:
for student in studentList:
    index_pos = studentList.index(student)
    print(student, 'found at index position: ', index_pos)#you must indent secondline and print line

Jerry found at index position:  0
Agatha found at index position:  1
Adama found at index position:  2
Yunus found at index position:  3
Samuel found at index position:  4
Hammed found at index position:  5
Peace found at index position:  6
Eric found at index position:  7
Lois found at index position:  8
Lola found at index position:  9

In [34]:
#adding to a list
newStudent= 'Favour'
studentList.append(newStudent)#for adding new student to a list

In [35]:
studentList

['Jerry',
 'Agatha',
 'Adama',
 'Yunus',
 'Samuel',
 'Hammed',
 'Peace',
 'Eric',
 'Lois',
 'Lola',
 'Favour']

In [36]:
summerStudents=('Gbemi', 'Olawale', 'Elizabeth')
#Task, merge the summer students into the studentList
#merging the student with the summer student
studentList.extend(summerStudents)
studentList

['Jerry',
 'Agatha',
 'Adama',
 'Yunus',
 'Samuel',
 'Hammed',
 'Peace',
 'Eric',
 'Lois',
 'Lola',
 'Favour',
 'Gbemi',
 'Olawale',
 'Elizabeth']