In [ ]:
#Python Containers
List
Tuples
Dictionaries
Sets

Conditional Statements

For Loop

In [ ]:
#List
A variable holds reference to one item
A variable holds only one item
e.g 
myName='Tifanny'
myName= 'Tifany', 'Joseph'  #a tuple

In [ ]:
'''Construct a python container with'James is a teacher in a school and has 10 students in his math class.
'Jerry'
'Agatha'
'Musa
'Adama'
'Laura'
'Yunus'
'Samuel'
'Hammed'
'Chisom'
'Trust
Math scores: 75,87, 45, 67, 89, 23, 78,56,89
Grades: A, B, C, D, E, F

'''

In [2]:
#TASK is organise the 
#List are a variable type and they are also a object type
#A list can take many items
List1=[] #an empty list

In [3]:
type(List1)

list

In [4]:
print(List1)

[]

In [ ]:
Syntax for populating a list
nameOfList=[item1, item2, item3, item4.....item_n]

In [7]:
#List of Students in the math class lab.
studentList=['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom', 'Trust']
print(studentList)

['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom', 'Trust']

In [8]:
mathScores=[75, 87, 45, 67, 89, 23, 78, 56, 89] 
print(mathScores)

[75, 87, 45, 67, 89, 23, 78, 56, 89]

In [ ]:
#Exam grades
examGrades=[ A, B, C, D, E, F]

In [9]:
studentList=['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom', 'Trust']
mathScores=[75, 87, 45, 67, 89, 23, 78, 56, 89]
examGrades=['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
#creating a list of List
mathClassRes=[studentList, mathScores, examGrades]#nested list or List of List

In [ ]:
'''List are iterable
each item in a list is assigned a index position that identifies its location in the list
we need this index position to fetch an item in a list or to remove or replace an item
Index position starts from zero

'''

In [11]:
#we can get the length of a list by using the len()
numStudents=len(studentList) #assign to a variable to get the number of student in a list
print(numStudents)

9

In [13]:
#syntax for finding an item in a list 
#Listname[Index]
studentList[0]

'Jerry'

#checking item in index position 7
studentList[7]

In [14]:
#checking index position from the last item
studentList[-1]

'Trust'

In [15]:
studentList[7]

'Chisom'

In [ ]:
#we can a range of item from a list
#the syntax is...
listName[starting_index:ending_index+1]

In [17]:
#lets fetch all the students from Agatha to Yunus in the listtabs
studentList[1:6]

['Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel']

In [21]:
for student in studentList:   #you must always start with this statement, its the loop to express
     index_pos = studentList.index(student)
     print(student, 'found at index position: ', index_pos)

Jerry found at index position:  0
Agatha found at index position:  1
Musa found at index position:  2
Laura found at index position:  3
Yunus found at index position:  4
Samuel found at index position:  5
Hammed found at index position:  6
Chisom found at index position:  7
Trust found at index position:  8

In [ ]:
# the last or maximum index in a list is always the length of the list minus 1 
#becos index position starts from zero

In [22]:
#adding to a list
newStudent='Favour'
studentList.append(newStudent)

In [23]:
studentList

['Jerry',
 'Agatha',
 'Musa',
 'Laura',
 'Yunus',
 'Samuel',
 'Hammed',
 'Chisom',
 'Trust',
 'Favour']

In [32]:
summerStudents=['Rafiat', 'Olawale', 'Elizabeth']
#TASK:merge the summerStudents into the student list
#Merging sudent list summerStudents
studentList.extend(summerStudents)
studentList

['Jerry',
 'Stanley',
 'Stanley',
 'Stanley',
 'Agatha',
 'Musa',
 'Laura',
 'Yunus',
 'Samuel',
 'Hammed',
 'Chisom',
 'Trust',
 'Favour',
 'Rafiat',
 'Olawale',
 'Elizabeth',
 ['Rafiat', 'Olawale', 'Elizabeth'],
 ['Rafiat', 'Olawale', 'Elizabeth'],
 'Rafiat',
 'Olawale',
 'Elizabeth',
 'Rafiat',
 'Olawale',
 'Elizabeth']

In [35]:
#to add a name to a specific position in the database, use insert
#the syntax is =name of list.insert(index position,'the name')
studentList.insert(1, 'Stanley')

In [38]:
#to add more names to a list, dont use append bcos, append add the names as a sublist
summerStudents=['Rafiat', 'Olawale', 'Elizabeth']
#TASK:merge the summerStudents into the student list
#Merging sudent list summerStudents
studentList.append(summerStudents)
studentList

['Jerry',
 'Stanley',
 'Stanley',
 'Stanley',
 'Stanley',
 'Stanley',
 'Stanley',
 'Stanley',
 'Stanley',
 'Agatha',
 'Musa',
 'Laura',
 'Yunus',
 'Samuel',
 'Hammed',
 'Chisom',
 'Trust',
 'Favour',
 'Rafiat',
 'Olawale',
 'Elizabeth',
 ['Rafiat', 'Olawale', 'Elizabeth'],
 ['Rafiat', 'Olawale', 'Elizabeth'],
 'Rafiat',
 'Olawale',
 'Elizabeth',
 'Rafiat',
 'Olawale',
 'Elizabeth',
 ['Rafiat', 'Olawale', 'Elizabeth']]

In [41]:
#to add a name to a specific position in the database, use insert
#the syntax is =name of list.insert(index position,'the name')
studentList.insert(1,'Stanley')

In [42]:
studentList.insert(1,'Stanley')

In [43]:
#List can hold several items of different object type
myItems=['Football', 345, 'hello world']
print(myItems[2])

hello world

In [ ]:
#Tuples: are like list in nature but the syntax is different, it
#Syntax=(item1, item2, item3....item_n)

#Tuples are immutable meaning we cant change the content or the size of a tuple after it is created

In [45]:
studentList_t=('Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom', 'Trust')
mathScores_t=(75, 87, 45, 67, 89, 23, 78, 56, 89)
examGrades_t=('A', 'B', 'C', 'D', 'E', 'F')

In [46]:
type(examGrades_t)

tuple

In [47]:
#tRY TO ADD ITEMS TO A TUPLE
studentList_t.index('Jerry')

0

In [49]:
print(studentList_t[2:8])

('Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom')

In [ ]:
#Dictionaries
'''Construct a python container with'James is a teacher in a school and has 10 students in his math class.
'Jerry'
'Agatha'
'Musa
'Adama'
'Laura'
'Yunus'
'Samuel'
'Hammed'
'Chisom'
'Trust
Math scores: 75,87, 45, 67, 89, 23, 78,56,89
Grades: A, B, C, D, E, F

'''

In [ ]:
studentList=['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom', 'Trust']
mathScores=[75, 87, 45, 67, 89, 23, 78, 56, 89]
examGrades=['A', 'B', 'C', 'D', 'E', 'F']

In [55]:
#Dictionaries are objects that hold Key:Values pairs in the container.
#Syntax= DictionaryName{Key1:Value1, Key2:Value2, ...Keyn:value}Ma
#yntax
#To  declare an empty dictionary
dictionaryName=  {}

#Rules:
      # No duplicate

In [56]:
type(dictionaryName)

dict

In [59]:
mathStudentsDict = {'Jerry':75,'Agatha':87,'Musa':96,'Laura':56,'Yunus':43,'Samuel':85}

In [ ]:
#To fetch a value in a dictionary use
dictName[Key]

In [62]:
#get exam scores for Musa and Laura
lauraScore=mathStudentsDict['Laura']
lauraScore

56

In [64]:
#Get all the keys as a list
mathStudentsDict.keys()

dict_keys(['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel'])

In [66]:
#convert to list
list(mathStudentsDict.keys())

['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel']

In [68]:
#getting exam scores from the list i.e, dictionary values
mathStudentsDict.values()

dict_values([75, 87, 96, 56, 43, 85])

In [69]:
list(mathStudentsDict.values())

[75, 87, 96, 56, 43, 85]

In [70]:
for student, score in mathStudentsDict.items():
    print(student, score)

Jerry 75
Agatha 87
Musa 96
Laura 56
Yunus 43
Samuel 85

In [82]:
#examGrades
studentReport=[]
for student, score in mathStudentsDict.items():
    print(student, score)
    if score >80:
        grade = examGrades[0]
        studentReport.append([student, score, grade])
    elif score>70 and score <80:
        grade=examGrades[1]
        studentReport.append([student, score, grade])
            
    elif score>60 and score <70:
        grade=examGrades[2]
        studentReport.append([student, score, grade])
            
    elif score>50 and score <60:
            grade=examGrades[3]
            studentReport.append([student, score, grade])
            
        
    else:
            grade = examGrades[-1]
            studentReport.append([student, score, grade])

Jerry 75
Agatha 87
Musa 96
Laura 56
Yunus 43
Samuel 85

In [83]:
studentReport

[['Jerry', 75, 'B'],
 ['Agatha', 87, 'A'],
 ['Musa', 96, 'A'],
 ['Laura', 56, 'D'],
 ['Yunus', 43, 'F'],
 ['Samuel', 85, 'A']]

In [84]:
import pandas as pd

print(pd.DataFrame(studentReport, columns=['Student Name', 'Score', 'Grade']))

  Student Name  Score Grade
0        Jerry     75     B
1       Agatha     87     A
2         Musa     96     A
3        Laura     56     D
4        Yunus     43     F
5       Samuel     85     A

In [4]:
studentList=['Jerry', 'Agatha', 'Musa', 'Laura', 'Yunus', 'Samuel', 'Hammed', 'Chisom', 'Trust']
counter=1
#for Loops allows us to gain access to each items in a container one at a time. 
#once we gain access to an item it allows to have access to 
#so we need to creat a dynamic variale to hold item temporarily
#syntax is, write the item: then next line is what you want to execute and it must be indented
for stan in studentList:
    print("entering container for the ", counter, 'st.time to grab an item')
    print("in this run, I grabbed", stan)
    print ('Hello', stan)
    counter = counter + 1
#anything not indented is not recognised by for loop
#for loop is used to go through a dictionary

entering container for the  1 st.time to grab an item
in this run, I grabbed Jerry
Hello Jerry
entering container for the  2 st.time to grab an item
in this run, I grabbed Agatha
Hello Agatha
entering container for the  3 st.time to grab an item
in this run, I grabbed Musa
Hello Musa
entering container for the  4 st.time to grab an item
in this run, I grabbed Laura
Hello Laura
entering container for the  5 st.time to grab an item
in this run, I grabbed Yunus
Hello Yunus
entering container for the  6 st.time to grab an item
in this run, I grabbed Samuel
Hello Samuel
entering container for the  7 st.time to grab an item
in this run, I grabbed Hammed
Hello Hammed
entering container for the  8 st.time to grab an item
in this run, I grabbed Chisom
Hello Chisom
entering container for the  9 st.time to grab an item
in this run, I grabbed Trust
Hello Trust

In [7]:
#sets
#this are a type of container, they hold item, they behave like a dictionary
mySet=set()

In [8]:
type(mySet)

set

In [9]:
#convert list to a set
newList= [23, 44, 55, 66]
set1= set(newList)

In [10]:
set1

{23, 44, 55, 66}

In [11]:
#a set cant hold duplicate value eg,. (10, 15, 34, 10) has duplicate value
list2=(10, 15, 34, 10)

In [13]:
set(list2)

{10, 15, 34}

In [ ]:
#difference between list and set
#set wil not allow  duplicate value
#no index position
#use set to obtain unique items from