In [ ]:
'''  James is embarking on a journey with the following items in the trunk of his car;

a.      14 packs of bottled water
b.     2 packed suite cases
c.      One golf kit with 24 golf clubs
Task:Create variables for each of these items

'''

In [5]:
#variables
touristName='James'
bottleWater=14
suitCases=2
golfKit=1
golfClubs=24
print('Name of tourist is ' + touristName)

Name of tourist is James

In [ ]:
'''For each of the following code block, show what is wrong with the code:
a.      vehicleSpeed  =  35kph
b.     studentWeight = 75 kg
c.      happiness  Rating = ‘Very Happy’
d.     count, subcount = 45
'''

In [ ]:
a. the value 35kph is not a legal syntax. its a string, it should have quotation mark''
b. the expression 75 kg is not a legal syntax because the quotation mark is not there. not allowed in python
c. a variable name can not have space between it. Its not a legal syntax
d. variable name can't have space between it or comma in it. invalid syntax

In [ ]:
You are given the following information about  7 students in a class;

a.      Rowland Brooks: Age 30, marital status: Single, Number of children 4
b.     Tambe Bwali: Age 27, marital status: Married, Number of children 6
c.      Bitrus Yagi: Age 40, marital status: Married, Number of children 2
d.     Kofi Kwame: Age 51, marital status: Single, Number of children 7
e.      Butuwase Nglesi: Age 38, marital status: Single, Number of children 0
f.       Peter Okafor: Age 33, marital status: Married, Number of children 3
g.      Adebo Babalaki: Age 51, marital status: Divorced, Number of children 9

In [9]:
List1 = [] #emptylist
print(List1)

[]

In [ ]:
#syntax for populating a list
#nameOfList = [item1, item2, item3,......item_n]
studentName=['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']

In [10]:
studentList=['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']
print(studentList)

['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']

In [11]:
studentAge=[30, 27, 40, 51, 38, 33, 51]
print(studentAge)

[30, 27, 40, 51, 38, 33, 51]

In [ ]:
maritalStatus=['single', 'married']

In [ ]:
NumChild=[4, 6, 2, 7, 0, 3, 9]

In [ ]:
studentList=['Rowland Brooks', 'Tambe Bwali', 'Bitrus Yagi', 'Kofi Kwame', 'Butuwase Nglesi', 'Peter Okafor', 'Adebo Babalaki']
studentAge=[30, 27, 40, 51, 38, 33, 51]
maritalStatus=['single', 'married']
NumChild=[4, 6, 2, 7, 0, 3, 9]

In [ ]:
Mandel earns 12,000 Pesos each month. Mandel’s debts include 300 Pesos owed to Ngelesi, 500 Pesos owed Belinda and also has unpaid bills amounting to 3000 Pesos.
Mandel would like to pay off all his debts this month and would also like to save 50% of the month’s paycheck in his savings account. 
Nathan owes Mandel 2500 Pesos and has issued a check for the full amount to Mandel this month. 
Use python variables and mathematical operators to account for these transactions and 
show how much Mandel has after these transactions

In [20]:
mandelSalary= 12,000
ngelesiDebt= 300
pesosDebt=300
mendelSavings=mandelSalary*0.5 
NathanPayment=2500

totalDebt=(ngelesiDebt + pesosDebt)
7900

600

In [ ]:
distance_km= 10
distance_mi=distance_km/1.609
print(distance_mi)

In [25]:
mandelSalary= 12000
mendelSavings=mandelSalary*0.5
print(mendelSavings)

6000.0

In [ ]:
mandelSalary= 12000
mendelSavings=mandelSalary*0.5
afterSaving=(mandelSalary-mendelSavings)
ngelesiDebt= 300
pesosDebt=300

NathanPayment=2500
totalDebt=(ngelesiDebt + pesosDebt)

In [27]:
mandelSalary= 12000
mendelSavings=mandelSalary*0.5
afterSaving=(mandelSalary-mendelSavings)
print(afterSaving)

6000.0

In [28]:
mandelSalary= 12000
mendelSavings=mandelSalary*0.5
afterSaving=(mandelSalary-mendelSavings)
ngelesiDebt= 300
pesosDebt=300
totalDebt=(ngelesiDebt + pesosDebt)
print(totalDebt)

600

In [29]:
afterDebt=(afterSaving-totalDebt)
print(afterDebt)

5400.0

In [30]:




NathanPayment=2500
totalCashAtHand=(afterDebt + NathanPayment)
print(totalCashAtHand)

7900.0

In [34]:
mandelSalary= 12000
mendelSavings=mandelSalary*0.5
afterSaving=(mandelSalary-mendelSavings)
ngelesiDebt= 300
belindaDebt=500
unpaidBills=3000
totalDebt=(ngelesiDebt + pesosDebt+unpaidBills)
afterDebt=(afterSaving-totalDebt)
NathanPayment=2500
totalCashAtHand=(afterDebt + NathanPayment)
print(totalCashAtHand)

4900.0